<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <ul class="right inline-list">
        <li>Que <%= Que::Version %></li>
        <li><%= Time.now.utc.strftime("%D %H:%M:%S %Z") %></li>
      </ul>
    </div>
  </div>
</footer>
