<form class="search" action="<%= request.path %>" method="get">
  <div class="row collapse">
    <div class="small-8 columns">
      <input type="text" name="search" value="<%= search_param %>" />
    </div>
    <div class="small-4 columns">
      <button class="button postfix">Search</button>
    </div>
  </div>
</form>
