<div class="row">
  <div class="small-12 columns">
    <h1>Jobs</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 large-4 columns">
    <div class="dashboard-stat running">
      <div class="cell">
        <h2>Running<h2>
        <span class="dashboard-value">
          <%= @dashboard.running %>
        </span>
      </div>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div class="dashboard-stat scheduled">
      <div class="cell">
        <h2>Scheduled<h2>
        <span class="dashboard-value">
          <%= @dashboard.scheduled %>
        </span>
      </div>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div class="dashboard-stat failing">
      <div class="cell">
        <h2>Failing<h2>
        <span class="dashboard-value">
          <%= @dashboard.failing %>
        </span>
      </div>
    </div>
  </div>
</div>
