.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 1em;
}

.dashboard-stat {
  text-align: center;
  padding: 1em;
  display: table;
  width: 100%;
}

.dashboard-stat .cell {
  display: table-cell;
  vertical-align: middle;
  height: 200px;
}

.dashboard-stat h2 {
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.dashboard-stat.scheduled {
  background: #828E8C;
}

.dashboard-stat.running {
  background: #CFD0C1;
}

.dashboard-stat.failing {
  background: #E8866C;
}

.dashboard-value {
  font-size: 5em;
  line-height: 1em;
}

table {
  width: 100%;
}

button.plain {
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
  font-weight: normal;
}
.form-inline {
  display: inline-block;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.version li {
  padding: 0 15px;
  line-height: 45px;
  color: #999999;
  font-size: 0.8125rem;
}

i.subtle {
  color: #999999;
}
